body {
    background-color: #f0efec;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section {
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    margin: 0 auto;
}

/* --------------------------section1--------------------------------- */

.section1 {
    position: relative;
}

.dropdown {
    background-image: url("img/user-avt.png");
    background-size: cover;
    position: absolute;
    top: 1%;
    left: 5%;
    width: 6%;
    height: 8%;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 120px;
    background-color: #123640;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {
    color: rgb(135, 252, 254);
}

.dropdown:hover .dropdown-content {
    display: block;
}


.logo {
    position: absolute;
    top: -1%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 15%;
    height: 12%;
}

.cart {
    position: absolute;
    top: 2%;
    right: 5%;
    width: 4%;
    height: 6%;
}


/* -----------------navigation-------------------- */
.navi {
    position: absolute;
    width: 100%;
    height: 10%;
    top: 10%;
    border-top: 2px solid black;
}

table {
    width: 100%;
}

td {
    text-align: center;

}

td.menu {
    width: 70%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-top: 1.4%;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    color: rgb(107, 105, 105);
}


.home-icon {
    margin-right: 15%;
    width: 17%;
    height: 13%;
    color: white;
    background-color: rgb(155, 216, 232);
    border: 1px solid rgb(126, 191, 198);
}

.search-bar {
    position: absolute;
    top: 3.5%;
    right: 0;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: right;
}

.search-bar input[type="text"] {
    background-color: transparent;
    border-color: transparent;

}

input:hover {
    border: transparent;
}

.search-bar img {
    margin-top: 8%;
    margin-right: 0;
    width: 10%;
    height: 30%;
    cursor: pointer;
    border: none;
}

/* ------------------background---------------------- */
.background {
    position: absolute;
    top: 22%;
    left: 0;
    width: 100%;
    height: 70%;
    transition: opacity 0.5s ease;
}

.background:hover {
    opacity: 0.8;
}

/* ----------------------------------------------------------------------- */


/* --------------------------section2--------------------------------- */

.section2 {
    background-color: #ccc;
}